/* CSS files --> experiences.html */
body{
    background-color: #e6f6f8;
}
.table-menu{
    width:100%; 
    text-align: center;
    background-color: #b9f5b3;
}
h1{
    text-align: center; 
    font-family: cursive;
    background-color: #b9f5b3;
} 
h4{
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
h5{ 
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
.table-content{
    margin-left: auto; 
    margin-right: auto;
    background-color: #c0c0bc;
}
.ul-circle{
    list-style-type:circle;
    background-color: #f381a7;
} 
.ul-disc{
    list-style-type:disc;
    background-color: #f381a7;
}
.ul-square{
    list-style-type:square;
    background-color: #f381a7;
}
.ol-order{
    background-color: #f381a7;
}